<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <base href="/">
        <title>Page Title</title>
        <meta name="viewport"
            content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
        <!-- <script src="/app/js/angular.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
        <!-- Config Module -->
        <script src="./app/app.module.js"></script>
        <script src="./app/app.config.js"></script>
        <!-- Components -->
        <script src="./app/blog-list/blog-list.module.js"></script>
        <script src="./app/blog-list/blog-list.component.js"></script>
        <!-- Component2 -->
        <script src="./app/test-component/test-component.module.js"></script>
        <script src="./app/test-component/test-component.component.js"></script>
        <!-- Component3 -->
        <script src="./app/blog-detail/blog-detail.module.js"></script>
        <script src="./app/blog-detail/blog-detail.component.js"></script>
        <!-- Form Validation -->
        <script src="./app/form-validation/form-validation.module.js"></script>
        <script src="./app/form-validation/form-validation.component.js"></script>
        <!-- CORE SERVICE -->
        <script src="./app/core/post.module.js"></script>
        <script src="./app/core/post.service.js"></script>
        <!-- POst Data SERvice -->
        <script src="./app/services/post-data.service.js"></script>
        <!-- Directives  -->
        <script src="./app/utils/confirm-click/confirm-click.module.js"></script>
        <script src="./app/utils/confirm-click/confirm-click.directive.js"></script>
        <!-- Directive 2 -->
        <script src="./app/utils/validate-directive/validate.module.js"></script>
        <script src="./app/utils/validate-directive/validate.directive.js"></script>
        <!-- Filter -->
        <script src="./app/filters/custom-filter.module.js"></script>
        <script src="./app/filters/custom-filter.js"></script>
        <!-- Directive -->
        <script src="./app/exploring-directives/main.component.js"></script>
        <!-- Directive Controller -->
        <script src="./app/exploring-directives/directive-elements/controller.js"></script>
        <!-- Contact Form Controller / Directive -->
        <script src="./app/contact-form/contact-from.controller.js"></script>


        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="./style.css">

    </head>


    <body class="container"
        ng-app="try">


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"
                href="#!/"
                href="#!/">AngularJS</a>
            <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link"
                            href="#!/blog/2/nameOfBlog">Link2</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                            href="#!/forms">Form Validation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="#!/directives">Directives</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                            href="#!/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>


        <hr>
        <!-- <blog-detail></blog-detail> -->
        <!-- <test-component></test-component> -->


        <ng-view></ng-view>


        <!-- <div>

            <h3>Property binding</h3>
            <input type="text" ng-model="searchText" />
            <p> {{ searchText }}

                <h3>Conditions</h3>
                <span ng-if='searchText'>{{searchText}}</span>
                <span ng-if='!searchText'>There is no name</span>

                <h3>Class condition</h3>
                <h4 class="new-class" ng-class="{'other-class': searchText}">Heading class </h4>
            </p>

            <i> hereName to here-name </i>
            <here-name></here-name>

        </div> -->



    </body>

</html>