<!-- THIS TAG IS WRAPPED WITHIN THEIR OWN SCOPE -->
<div class="">
    <h4>{{ title }} : {{clicks}} </h4>
    <button class="btn btn-primary" ng-click="someClickTest()">Click Me!</button>
    <ul>
        <li ng-repeat="item in items">
            <a 
            ng-href="#!/blog/{{ item.id }}" 
            confirmed-click="goToItem(item)" 

            confirm-click="Are you ready?"
            > {{ item.title }}</a>
            <!-- <a 
            ng-click="goToItem()"
            href='#!/blog/{{ item.id }}' 
            confirmed-click="/blog{{ item.id }}" 
            confirm-click="Are you ready?">
                {{ item.title }}
            </a> -->
            <!-- <confirm-click eq="10 + 100" post="item" message="are you positive?"></confirm-click> -->
            <p>{{ item.body }}</p>
        </li>
    </ul>

    <span ng-if='items.length >= 4'>There are {{items.length}} items</span>

</div>